<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps</title>
    <meta name="theme-color" content="#19bade"/>
    <link rel="stylesheet" href="/src/styles/main.css">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="icon" href="favicon.png">
    <link rel="manifest" href="manifest.json">
</head>
<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header class="header">
        <div class="header__inner">
            <h1 class="header__title">
                Restoism
            </h1>
        </div>
        <button id="menu" class="header__menu">☰</button>
        <nav id="drawer" class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="/">Home</a></li>
                <li class="nav__item"><a href="#/favorite">Favorite</a></li>
                <li class="nav__item"><a href="https://www.linkedin.com/in/jopanalv/" target="_blank">About Us</a></li>
            </ul>
        </nav>
    </header>
    <div class="hero">
        <div class="hero-title">
            <h1>Daftar Resto terbaik di indonesia</h1>
        </div>
    </div>
    <main class="container">
        <section class="content" id="maincontent">
        </section>
    </main>
    <footer>
        <p>&copy; 2021 - Made with &hearts; Restoism Apps</p>
    </footer>
    <script type="text/javascript" src="/src/scripts/index.js"></script>
</body>
</html>